*, *::before, *::after {
    box-sizing: border-box;
}

.theme-custom{
    background: url(https://cdn.filestackcontent.com/pjpg=q:80/no_metadata/cache=expiry:max/compress=m:true/JhMxHo2GQ4ykPKYIFGiv) #000000 no-repeat;
    background-size: cover;
    background-position: center 50%;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theme-custom::before{
content: "";
background-color: #000000;
opacity: 0.5;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: -1;   
}


.theme-custom .smartpage-container .block-item.layout-button {
    height: 5rem;
    background: #0077FF;
    color: #FFFFFF;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.smartpage-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 16px;
    padding-top: 16px;
}

.smartpage-container .avatar {
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 100px;
    margin: 16px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-object-fit: cover;
    -webkit-object-fit: cover;
    object-fit: cover;
    position: relative;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
}



.smartpage-container .bio-title h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    
    text-align: center;
}

.smartpage-container .bio-title .bio-description{
    font-size: 1.4rem;
    text-align: center;
    line-height: 1.5;
    display: flex;
    font-weight: 500;
    box-sizing: border-box;

    margin: 0 auto;
    padding-bottom: 18px;
}

.smartpage-container .messengers {
    display: flex;
    
}

.smartpage-container .messengers .links-block {
    padding-left: 10px;
    padding-right: 10px;
}
.smartpage-container .messengers .links-block {
    max-width: 33.33333%;
    display: inline-block;
    width: 100%;
}
.smartpage-container .links-block {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.4;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 0;
    padding-bottom: 16px;
}
.smartpage-container .block-item.layout-button, .smartpage-container .block-item.layout-button-thumbnail, .smartpage-container .block-item.layout-button-image-bg, .smartpage-container .block-item.layout-card, .smartpage-container .block-item.layout-countdown.card-style {
    background: #000;
    color: #fff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 10px 35px -5px rgb(0 0 0 / 20%);
    font-weight: bolder;
}

.smartpage-container .block-item .fa-block-icon, .smartpage-container .block-item .fa-network {
    vertical-align: middle;
    display: inline-block;
    font-size: 2rem;
    margin-top: -7px;
    margin-bottom: -7px;
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.smartpage-container .fa-network {
    font-size: 1.4em;
    margin-bottom: -0.2em;
}
.svg-inline--fa.fa-w-14 {
    width: .875em;
}
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

.smartpage-container .messengers .block-item .fa-network+span {
    display: none;
}

.smartpage-container .block-item .fa-block-icon+span, .smartpage-container .block-item .fa-block-icon+a, .smartpage-container .block-item .fa-network+span, .smartpage-container .block-item .fa-network+a {
    margin-left: 0.6em;
}

.smartpage-container ol, .smartpage-container ul, .smartpage-container dl, .smartpage-container li {
    margin: 0;
    padding: 0;
    list-style-type: none;

}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

.smartpage-container .block-item.layout-text {
    padding: 16px 24px;
    padding-bottom: 0;
    cursor: inherit;
}

.smartpage-container .block-item.layout-text .block-title, .smartpage-container .block-item.layout-countdown .block-title {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.smartpage-container .block-item.layout-text .block-text, .smartpage-container .block-item.layout-countdown .block-text {
    font-size: 15px;
}

.smartpage-container .social-links {
    text-align: center;
    font-size: 1.4em;
}

.smartpage-container .social-links .social-item {
    display: inline-block;
    padding: 16px 8px;
    margin: 0;
    width: 33.333%;
    text-align: center;
}
.smartpage-container .social-links .social-item a, .smartpage-container .social-links .social-item span {
    cursor: pointer;
    color: inherit;
}



body{
    height: 100vh;
}

.theme-custom .custom-theme::before{
    height: 100vh;
}

.container .smartpage-container{
    display: flex;
    margin:0;
}

.rich-links-title{
    font-size: 1.8rem;
    text-align: center;
}

.rich-links-description p{
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 400;
    text-align: center;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a{
    font-size: 2.2rem;
}

.block-item .layout-button svg{
    font-size:80px;
}




@media (min-width: 768px){
    .container {
        max-width: 720px;
    }}
    @media (min-width: 576px){
    .container {
        max-width: 540px;
    }}


    

    

    

  
 